html {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
html body {
  margin: 0;
}
html body #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html body #root main {
  flex: 1;
}
html body #root main .sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}
html body #root main .bg-dark {
  background-color: #12002b;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  color: #2c3e50;
}
@media (max-width: 720px) {
  .account {
    flex-direction: column;
  }
}
.account .account-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.account .account-content-wrapper .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account .account-content-wrapper .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account .account-content-wrapper .account-amount-description {
  margin: 0;
}
.account .cta {
  flex: 0;
}
@media (max-width: 720px) {
  .account .cta {
    width: 100%;
  }
}
.account .cta .transaction-button {
  display: block;
  width: 200px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.features {
  display: flex;
  flex-direction: column;
}
.features .feature-item {
  flex: 1;
  padding: 2.5rem;
}
.features .feature-item .feature-icon {
  width: 100px;
  height: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.features .feature-item .feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.bg-dark {
  background-color: #12002b;
}
.bg-dark .sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 3rem;
  padding: 2rem;
}
.bg-dark .sign-in-content .sign-in-icon {
  font-size: 19px;
}
.bg-dark .sign-in-content .imput-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.bg-dark .sign-in-content .imput-wrapper label {
  font-weight: bold;
}
.bg-dark .sign-in-content .imput-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.bg-dark .sign-in-content .input-remember {
  display: flex;
}
.bg-dark .sign-in-content .input-remember label {
  margin-left: 0.25rem;
}
.bg-dark .sign-in-content .sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline white;
  cursor: pointer;
  border: none;
}
.bg-dark .sign-in-content .error-message {
  color: red;
}

.hero {
  background-image: url("../img//bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  object-position: bottom center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.hero .hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero .hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero .hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
  .hero .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero .hero-content .subtitle {
    font-size: 1.5rem;
  }
  .hero .hero-content .text {
    font-size: 1.2rem;
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav .main-nav-logo {
  display: flex;
  align-items: center;
}
.main-nav .main-nav-logo .main-nav-logo-image {
  width: 200px;
}
.main-nav .connected {
  display: flex;
  align-items: center;
}
.main-nav .connected .main-nav-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  color: #2c3e50;
  margin-right: 0.5rem;
  text-decoration: none;
}
.main-nav .connected .main-nav-item .fa-user-circle {
  margin-right: 10px;
}
.main-nav .connected .main-nav-item p {
  margin-right: 10px;
}
.main-nav .connected .main-nav-item p:hover {
  text-decoration: underline;
}
.main-nav .connected .main-nav-item .fa-sign-out {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 5px;
}
.main-nav .not-connected .main-nav-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  color: #2c3e50;
  margin-right: 0.5rem;
  text-decoration: none;
}
.main-nav .not-connected .main-nav-item p:hover {
  text-decoration: underline;
}
.main-nav .not-connected .fa-user-circle {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer .footer-text {
  margin: 0;
  padding: 0;
}

.profile-page {
  flex: 1;
  background-color: #12002b;
}
.profile-page .header {
  color: white;
  margin-bottom: 2rem;
}
.profile-page .header h1 {
  font-size: 2rem;
}
.profile-page .header .edit-button {
  background-color: #00bc77;
  border-color: #00bc77;
  color: #fff;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.625rem;
}
.profile-page .header .edit-input {
  margin: 10px 0 10px 0;
}
.profile-page .header .edit-input label {
  padding-right: 10px;
}
.profile-page .header .edit-input input {
  height: 30px;
  font-size: 1rem;
}
.profile-page .header .edit-input #firstName,
.profile-page .header .edit-input #lastName {
  background-color: rgb(213, 213, 213);
}
.profile-page .header .edit-username-button-save {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
  margin: 20px 15px 0 0;
}
.profile-page .header .edit-username-button-cancel {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
  margin: 20px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
